body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
  background-color: #f0ece5;
  border-top: 4px solid #ffe95a;
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #000;
}

h1 {
  margin: 4px 0;
  font-size: 36px;
}

header {
  margin-bottom: 30px;
  position: relative;
  padding: 16px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px;
  background-color: #F7F4F1;
  max-width: 500px;
  margin: 48px auto;
  border-radius: 20px;
  border: 1px solid #E1D9C9;
}

.container {
  max-width: 500px;
  margin: 0px auto;
}

.correct,
.present,
.absent {
  color: #fff !important;
}

.correct {
  text-shadow: 1px 1px #000;
  background-color: #C5D6A5 !important;
}

.present {
  text-shadow: 1px 1px #000;
  background-color: #ffe95a !important;
}

.absent {
  background-color: #808080 !important;
}
